{% extends 'base.html' %}

{% block body %}
<img class="d-block w-100" width: 70%; src="static\phone.jpg" alt="...">
<div class="container mt-5 ">
  <center >
    
    <h2><span class="shadow-lg p-3 mb-5 bg-body rounded">Contact Us</span></h2>
    
  </center>

<div class="container mb-5 mt-5">
<form method="post" action="/contact">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number" required>
      </div>
    
    <div class="form-group">
      <label for="desc">Tell me about your self.</label>
      <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">submit</div>
  </form>
</div>

{% endblock body %}
